amqp==2.1.4
appdirs==1.4.3
billiard==3.5.0.2
celery==4.0.2
certifi==2017.4.17
chardet==3.0.3
Django==1.11.1
django-bootstrap-form==3.2.1
django-extra-views==0.9.0
django-haystack==2.6.1
django-mptt==0.8.7
django-redis-cache==1.7.1
django-solo==1.1.2
django-widget-tweaks==1.4.1
djangorestframework==3.6.3
elasticsearch==2.4.1
gunicorn==19.7.1
httpie==1.0.3
idna==2.5
kombu==4.0.2
olefile==0.44
packaging==16.8
Pillow==4.1.1
psycopg2==2.7.1
py==1.4.33
pyelasticsearch==1.4
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.1.0
pytest-base-url==1.3.0
pytest-django==3.1.2
pytest-html==1.14.2
pytest-metadata==1.5.0
pytest-selenium==1.10.0
pytest-variables==1.6.1
pytz==2017.2
redis==2.10.5
requests==2.16.5
selenium==3.4.2
simplejson==3.10.0
six==1.10.0
stripe==1.55.2
urllib3==1.21.1
vine==1.1.3
