{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}Search{% endblock %}

{% block extrastyle %}
    <link href="{% static 'css/catalogue_style.css' %}">
{% endblock %}

{% block content %}

    <div id="products" class="row list-group">
        {% for product in products %}
            {% include 'catalogue/product_box.html' with product=product.object %}
        {% endfor %}
    </div>

    <form method="get" action="." class="form-horizontal">
        <input type="hidden" name="q" value="{{ search_form.q.value }}"/>

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
                {% blocktrans with start=page.start_index end=page.end_index num_results=paginator.count %}
                    Found <strong>{{ num_results }}</strong> results, showing
                    <strong>{{ start }}</strong> to <strong>{{ end }}</strong>.
                {% endblocktrans %}
            {% else %}
                {% blocktrans count num_results=paginator.count %}
                    Found <strong>{{ num_results }}</strong> result.
                {% plural %}
                    Found <strong>{{ num_results }}</strong> results.
                {% endblocktrans %}
            {% endif %}
            <div class="pull-right">
                {{ search_form.sort_by }}
            </div>
        {% else %}
            <p>
                Found <strong>0</strong> results.
            </p>
        {% endif %}
    </form>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/catalogue_script.js' %}"></script>
{% endblock %}