{% extends 'base.html' %}

{% load static %}
{% load bootstrap %}

{% block extrastyle %}
    <link href="{% static 'css/catalogue_style.css' %}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-sm-12 col-md-5">
                    <div class="product col-md-3 service-image-left">
                        {% if product.image %}
                            <img id="item-display "
                                 src="{{ product.image.url }}"
                                 alt="">
                        {% else %}
                            <img id="item-display "
                                 src="{% static 'img/default_product.jpg' %}"
                                 alt="">
                        {% endif %}
                    </div>
                    <div class="container service1-items col-sm-2 col-md-2 pull-left">

                        {% if product.extra_images.exists %}
                            {% for img in product.extra_images.all %}
                                <a id="item-1" class="service1-item">
                                    <img src="{{ img.image.url }}" alt="">
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="col-md-6">
                        <div class="product-title">{{ product.name }}
                            ({{ product.rating|default_if_none:"0" }}/5)
                        </div>
                        <hr>
                        <div class="product-price">{{ product.price }}</div>
                        {% if product.num_in_stock %}
                            <div class="product-stock">In Stock</div>
                        {% else %}
                            <div class="product-stock">Out of Stock</div>
                        {% endif %}
                        <hr>
                        <div class="btn-group cart">
                            <form action="{% url 'basket_add' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="pk"
                                       value="{{ product.pk }}" hidden/>
                                <button type="submit" class="btn btn-success"
                                        {% if not request.user.is_authenticated %}disabled="disabled"{% endif %}>
                                    Add to cart
                                </button>
                            </form>

                        </div>
                    </div>
                    <div class="col-md-1">
                        {% if request.user.is_authenticated %}
                            <form id="rating_form"
                                  action="{% url 'rating' pk=product.pk %}"
                                  method="post">
                                {% csrf_token %}
                                {{ rating_form }}
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-7 product-info">
                <h1>DESCRIPTION</h1>
                <div>{{ product.description|safe }}</div>
                <hr>
            </div>
            <div class="col-md-5">
                <h4>Leave Feedback</h4>
                <form action="{% url 'feedback' pk=product.pk %}" method="post">
                    {% csrf_token %}
                    {{ feedback_form|bootstrap }}
                    <button class="btn btn-primary" type="submit">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/catalogue_script.js' %}"></script>
{% endblock %}
